svg {
  overflow: visible;
}

.icoWrap {
  position: absolute;
  text-align: center;
  left: calc(50% - 100px);
  min-width: 200px;
  top: -1rem;
}

#Ico {
  max-width: 5rem;
}

#icoTitle {
  color: #fff;
}

text {
  text-anchor: start;
  font-size: 12px;
}

.ascisse text {
  text-anchor: middle;
}

.points g text {
  font-size: 16px;
  fill: #95dbfff0;
  cursor: default;
}

.canva {
  height: 28rem;
  width: 60rem;
  display: inline-block;
  margin: auto;
}

.ordinate text {
  fill: rgb(188, 210, 255);
}

.ordinate line {
  stroke-width: 1px;
  color: aliceblue;
}

.ordinate path {
  stroke-width: 1px;
  color: aliceblue;
}

.subpop {
  transition: all 0.5s ease-out;
}

.points g {
  transition: opacity 0.1s ease-out;
}

.subpop line {
  stroke: rgb(110 142 207 / 80%);
}

.subpop circle {
  fill: #95dbff;
}

.artline {
  stroke: #95dbff12;
}

.ascisse text {
  fill: rgb(188, 210, 255);
}

.ascisse line {
  stroke-width: 1px;
  color: aliceblue;
}

.ascisse path {
  stroke-width: 1px;
  color: aliceblue;
}

#secondario {
  margin: 0;
}

.info-hidden {
  visibility: hidden;
}

.info-visible {
  visibility: visible;
}

.tooltip {
  fill: #1e2850c7;
  width: 5em;
  height: 1.5rem;
}

.urlsDiv {
  padding: 3px;
  width: 51%;
  height: 16em;
}

.flexContainerUrls {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.urls {
  height: 14%;
  background: #3a47bf7d;
  border-radius: 5%;
  padding: 0 1em;
}

.urls:nth-child(1) {
  border-radius: 3% 0 0 3%;
  border-right: 2px solid #00002a;
}

.urls:nth-child(2) {
  border-radius: 0 3% 3% 0;
}

.urlLink {
  line-height: 2em;
  padding: 0px 4px;
  text-decoration: none;
  font-size: small;
}

.urlLink:hover {
  text-shadow: 1px 1px #407ff1;
}

.pure-g > div {
  box-sizing: border-box;
}

.subGrid {
  margin: 2em;
}

.subSubGrid {
  padding: 5px 0;
}

.subSubGrid > p {
  margin: 0px;
  color: aliceblue;
}

.yGrid path {
  opacity: 0;
  fill: none;
}

.yGrid line {
  opacity: 0;
}
